*{margin: 0; padding: 0;}

h1.title {
    text-align: center;
    margin: 50px 0px;
    font-family: tahoma;
}
nav {
    margin: 5px 10%;
    background: #484848;
    border-radius: 5px;
}
nav ul {
    display: flex;
}
nav ul li{
	list-style: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #333;
}
nav ul li a {
    text-decoration: none;
    padding: 0px 25px;
    line-height: 50px;
    color: #f1f2f3;
}
nav ul li:first-child {
    border-left: none;
}
nav > ul li:first-child a{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
nav ul li:hover > a{
	background-color: red;
	color: yellow;
	opacity: .7;
	padding: 16px 25px;
}
/*menu con*/
/*ẩn các menu con cấp 1,2,3*/
nav li ul{
	display: none;
	min-width: 200px;
	position: absolute;
}
nav li>ul li{
	width: 100%;
	border : none;
	text-align: left;
	background: #999;
	border-bottom: 1px solid #ccc;
}
/*khi hover thì hiện menu con lên*/
nav li:hover>ul{
   display: block;
}
nav>ul li>ul li>ul{
	margin-left: 202px;
	margin-top: -50px;
}
